<header>
    <div class="theme-switch">
        <a href="?theme={{#equal theme "dark"}}light {{else}}dark {{/equal}}"> {{#equal theme "dark"}}
        Light mode {{else}}Dark mode {{/equal}}</a>
    </div>
    <div>
        <form action='/note' method='get'><input type='submit' id='createNote' value='Create new Note'></form>
    </div>
</header>
<section class="sortButton">
        <a href="?sort=date_due">By finish Date</a>
        <a href="?sort=date">By created Date</a>
        <a href="?sort=importance">By Importance</a>
        <a href="?state={{#equal state "true"}}false {{else}}true {{/equal}}">Show Finished</a>
</section>
<main>
    {{#if note}}
        {{#each note}}
            <div class="note">
                <div class="noteTitle">{{title}}</div>
                <div class="noteState">{{state}}</div>
                <div class="noteContent">{{content}}</div>
                <div class="noteImportance">
                    {{#times importance}}
                        <span>*</span>
                    {{/times}}
                </div>
                <p class=noteEdit><a href='/note/{{_id}}/'>Edit</a></p>

            </div>
        {{/each}}
    {{else}}
        <div>No notes found.</div>
    {{/if}}
</main>

{{#equal theme "dark"}}
    <h3>dark</h3>
{{else}}
    <h3>light</h3>
{{/equal}}
