<html>
<head>
    <title>Notizen</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <header>
        <div class="theme-switch-wrapper">
            <p>Enable Dark Mode!</p>
            <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox" />
                <div class="slider round"></div>
            </label>
        </div>
    </header>
    <form action='/note' method='get'><input type='submit' id='createNote' value='Create new Note'></form>
    <div>
        <button id="byFinishButton">By finish Date</button>
        <button id="byCreatedButton">By created Date</button>
        <button id="byImportanceButton">By Importance</button>
        <button id="showFinishedButton">Show Finished</button>
    </div>
    {{#if note}}
    {{#each note}}
        <div id="note">
            <div class = "noteTitle">{{title}}</div>
            <div class = "noteState">{{state}}</div>
            <div class = "noteContent">{{content}}</div>
            <div>
                {{#times importance}}
                    <span>*</span>
                {{/times}}
            </div>
            <p><a href='/note/{{_id}}/'>Edit</a></p>

        </div>
    {{/each}}
    {{else}}
        <div>No notes found.</div>
    {{/if}}
</body>
</html>
