<html>
<p>Order-Informationen</p>
{{#if title}}
    <form action='/note/{{_id}}' method='post'>
        <input name='title' value="{{title}}">
        <input name='content' value="{{content}}">
        <input name='importance' value='{{importance}}'>
        <input name='state' value='{{state}}'>
        <input name='date_due' value='{{date_due}}'>

        <input type='submit' value='Update Note'>
    </form>
{{/if}}
<form action='/' method='get'>
    <input type='submit' value='Zurueck zum start'>
</form>
</html>