<html>
<p>Order-Informationen</p>
    <form action='/note/{{note._id}}' method='post'>
        <input name='title' value="{{note.title}}">
        <input name='content' value="{{note.content}}">
        <input name='importance' value='{{note.importance}}'>
        <input name='state' value='{{note.state}}'>
        <input name='date_due' value='{{note.date_due}}'>

        <input type='submit' value='Update Note'>
    </form>
<form action='/' method='get'>
    <input type='submit' value='Zurueck zum start'>
</form>
</html>